<app-header-menu></app-header-menu>
<ion-toolbar>
  <h2>Liste des Incidents ({{getIncidentNumber()}})</h2>
  <ion-button fill="outline" slot="end" [routerLink]="['/incident']">Ajouter un bug</ion-button>
</ion-toolbar>
<app-search-toolbar #searchToolBar (incidentFilterUpdated)=getAllIncidents($event)></app-search-toolbar>

<ion-content>
  <ion-card *ngFor="let incident of incidents">
    <ion-item>
      <ion-label>{{incident.title}}</ion-label>
      <ion-icon slot="end" color="primary" size="large" name="arrow-forward" (click)="openIncident(incident)"></ion-icon>
      <ion-label>{{incident.date}}</ion-label>
    </ion-item>
    <ion-card-content>
      <div>
        <span>Type : {{incident.type}} | </span>
        <span>Priorité : {{incident.priority}} | </span>
        <span>Statut : {{incident.status}}</span>
      </div>
      <img style="height:400px;" [src]="incident.screenshotWebPath">
      <p>
        {{incident.description}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>