<app-header-menu></app-header-menu>
<ion-toolbar>
  <h2>Liste des Incidents </h2>
  <ion-button fill="outline" slot="end" [routerLink]="['/incident']">Ajouter un bug</ion-button>
</ion-toolbar>
<ion-toolbar>
  <span>
    <ion-input (ionBlur)="updateSearch()" type="text" [(ngModel)]="search" fill="outline" placeholder="Rechercher">
    </ion-input>
    <span>
      <ion-label class="mini-label">Tri Date</ion-label>
      <ion-button (click)="sortByDate()">
        <ion-icon [name]=logoSortedDate></ion-icon>
      </ion-button>
    </span>
    <span class="status">
      <ion-label class="mini-label">Statut</ion-label>
      <ion-button #toDoButton [fill]=solidButton slot="end" (click)="changeStatus(toDoButton, toDoMsg)">{{toDoMsg}}
      </ion-button>
      <ion-button #doingButton [fill]=solidButton slot="end" (click)="changeStatus(doingButton, doingMsg)">{{doingMsg}}
      </ion-button>
      <ion-button #donetButton [fill]=outlineButton slot="end" (click)="changeStatus(donetButton, doneMsg)">{{doneMsg}}
      </ion-button>
    </span>
    <span>
      <ion-label class="mini-label">Priorité</ion-label>
      <ion-select (ionChange)="updateSearch()" [(ngModel)]="selectedPriority">
        <ion-select-option *ngFor="let priority of priorities">{{priority}}</ion-select-option>
      </ion-select>
    </span>
    <span>
      <ion-label class="mini-label">Type d'incident</ion-label>
      <ion-select (ionChange)="updateSearch()" [(ngModel)]="selectedType">
        <ion-select-option *ngFor="let type of types">{{type}}</ion-select-option>
      </ion-select>
    </span>
  </span>
</ion-toolbar>
<!-- Voir https://ionicframework.com/docs/v3/api/components/slides/Slides/ -->
<ion-content>

  <ion-card *ngFor="let incident of incidents">
    <ion-item>
      <ion-label>{{incident.title}}</ion-label>
      <ion-button fill="outline" slot="end" (click)="openIncident(incident)">View</ion-button>

      <ion-label>{{incident.date}}</ion-label>
    </ion-item>
    <ion-card-content>
      <img style="height:400px;" [src]="incident.screenshotWebPath">
      <p>
        {{incident.description}}
      </p>
      <p>{{incident.type}}</p>
      <p>{{incident.priority}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>