<ion-header>
  <ion-toolbar>
    <ion-icon class="back-button" slot="start" color="primary" size="large" name="arrow-back"
      [routerLink]="['/apk']"></ion-icon>
    <ion-title>Anciennes APK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="column">
    <h1>HP-Core</h1>
    <app-apk-template *ngFor="let hpCoreAPK of allHpCoreAPK" [apk]="hpCoreAPK"></app-apk-template>
  </div>

  <div class="column">
    <h1>HP-Quiz</h1>
    <app-apk-template *ngFor="let hpQuizAPK of allHpQuizAPK" [apk]="hpQuizAPK"></app-apk-template>
  </div>
</ion-content>

