.apk-box{
    // display: block;
    // width: 40%;
    margin: 0% 2% 2% 2%;
    padding: 1%;
    background-color:whitesmoke;
    a, p, span{
        display: block;
        text-align: center;
        img{
            height: 48px;
        }
    }
}