<ion-toolbar *ngIf=toolbarIsActive>
  <div>
    <ion-input (ionChange)="updateSearch()" debounce=500 type="text" [(ngModel)]="filter.search" fill="outline"
      placeholder="Rechercher">
    </ion-input>
  </div>

  <div>
    <span class="status">
      <ion-label class="mini-label">Statut</ion-label>
      <ion-button #toDoButton [fill]=solidButton (click)="changeStatus(toDoButton, toDoMsg)">{{toDoMsg}}
      </ion-button>
      <ion-button #doingButton [fill]=solidButton (click)="changeStatus(doingButton, doingMsg)">{{doingMsg}}
      </ion-button>
      <ion-button #donetButton [fill]=outlineButton (click)="changeStatus(donetButton, doneMsg)">{{doneMsg}}
      </ion-button>
    </span>
  </div>
  <div>
    <span>
      <ion-label class="mini-label">Tri Date</ion-label>
      <ion-button (click)="sortByDate()">
        <ion-icon [name]=logoSortedDate></ion-icon>
      </ion-button>
    </span>
    <span>
      <ion-label class="mini-label">Priorité</ion-label>
      <ion-select class="ion-select-small" (ionChange)="updateSearch()" [(ngModel)]="filter.priority">
        <ion-select-option *ngFor="let priority of priorities">{{priority}}</ion-select-option>
      </ion-select>
    </span>
    <span>
      <ion-label class="mini-label">Type d'incident</ion-label>
      <ion-select (ionChange)="updateSearch()" [(ngModel)]="filter.type">
        <ion-select-option *ngFor="let type of types">{{type}}</ion-select-option>
      </ion-select>
    </span>
    <span>
      <ion-label *ngIf=!isSmallScreen() class="mini-label">{{textStateImage}}</ion-label>
      <ion-button fill="clear" (click)="displayImage()">
        <ion-icon size="large" [name]=logoStateImage></ion-icon>
      </ion-button>
    </span>
  </div>
</ion-toolbar>
<div *ngIf=isSmallScreen() class="reduce-toolbar">
  <ion-button (click)="reduceOrExpendToolbar()">
    <ion-icon [name]=logoReduceToolbarToDisplay></ion-icon>
  </ion-button>
</div>