ion-toolbar {
    padding-left: 2%;
    padding-right: 2%;
    ion-icon {
        cursor: pointer;
    }
    .save-button {
        float: right;
    }
}
.toolbar-secondary{
    .toolbar-background{
    background-color: lightgrey;
    }
}

.status{
    padding: 3%;
    padding-left: 1.5%;
}
form{
    display: contents;
    ion-radio{
        margin-left: 5px;
    }
}