<form (ngSubmit)="saveAction(incidentForm.value)" #incidentForm="ngForm">
  <ion-header>
  <ion-toolbar>
    <ion-icon class="back-button" slot="start" color="warning" size="large" name="arrow-back"
      [routerLink]="[incidentsPage]"></ion-icon>
    <ion-title slot="start">Référencer un bug</ion-title>
    <ion-button class="save-button" fill="clear" type="submit">
      <ion-icon color="success" name="send" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="state===stateUpdate" class="toolbar-secondary">
    <!-- en modification-->
    <span *ngIf=incident.createdAt >Remonté le : {{incident.createdAt.toLocaleString()}} </span>
    <span *ngIf=incident.updatedAt >| Mise à jour le : {{incident.updatedAt.toLocaleString()}}</span>
    <ion-icon size="large" color="danger" name="close" (click)="deleteIncident()" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input *ngIf="state===stateUpdate" type="hidden" [(ngModel)]=incident.id name="id"/>
  <input *ngIf="state===stateUpdate" type="hidden" [(ngModel)]=createdAt name="createdAt"/>
  <input type="hidden" [(ngModel)]=updatedAt name="updatedAt"/>
  <input type="hidden" [(ngModel)]=incident.screenshotPath name="screenshotPath"/>
  <input type="hidden" [(ngModel)]=incident.screenshotWebPath name="screenshotWebPath"/>

  <ion-item>
    <ion-label>Titre</ion-label>
    <ion-input [(ngModel)]=incident.title required name="title"></ion-input>
  </ion-item>
  <app-image-input #imageInput [screenshot]=screenshot (cancelImage)=cancelImage($event)></app-image-input>

  <div class="status">
    <ion-row radio-group>
      <ion-radio-group [(ngModel)]="incident.status" required name="status">
        <ion-col>
            Statut
        </ion-col>
        <ion-col>
          <ion-item *ngFor="let status of statusList">
            <ion-label>{{status}}</ion-label>
            <ion-radio [value]=status></ion-radio>
          </ion-item>
        </ion-col>
      </ion-radio-group>
    </ion-row>
  </div>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea [(ngModel)]="incident.description" required name="description" ></ion-textarea>
  </ion-item>
  <ion-item *ngIf="state===stateNew">
    <ion-label>Date de remonté</ion-label>
    <ion-datetime (ionChange)="updateDate()" [(ngModel)]="createdAt" required displayFormat="DD MMM YYYY" name="createdAt"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Priorité</ion-label>
    <ion-select [(ngModel)]="incident.priority" required name="priority">
      <ion-select-option *ngFor="let priority of prioritiesList">{{priority}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select [(ngModel)]="incident.type" required name="type">
      <ion-select-option *ngFor="let type of typesList">{{type}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
</form>