<form (ngSubmit)="saveAction(incidentForm.value)" #incidentForm="ngForm">
  <ion-header>
  <ion-toolbar>
    <ion-icon class="back-button" slot="start" color="warning" size="large" name="arrow-back"
      [routerLink]="[INCIDENTS_PAGE]"></ion-icon>
    <ion-title slot="start">Référencer un bug</ion-title>
    <ion-button class="save-button" fill="clear" type="submit">
      <ion-icon color="success" name="send" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="state===STATE_UPDATE" class="toolbar-secondary">
    <!-- en modification-->
    <span>Mise à jour le :</span>
    <ion-icon size="large" color="danger" name="close" (click)="deleteIncident()" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input *ngIf="state===STATE_UPDATE" type="hidden" [(ngModel)]=incident.id name="id"/>
  <input type="hidden" [(ngModel)]=incident.screenshotPath name="screenshotPath"/>
  <input type="hidden" [(ngModel)]=incident.screenshotWebPath name="screenshotWebPath"/>

  <ion-item>
    <ion-label>Titre</ion-label>
    <ion-input [(ngModel)]=incident.title name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Image</ion-label> <br>
    <div style="margin-right: 40%;">
      <div #inputDiv style="font-size: small;">
        <input type="file" id="screen" name="screen" accept="image/png, image/jpeg" #fileUpload
          (change)="loadScreenshot($event)">
     </div>
      <div #viewerDiv style="display:none;">
        <img style="height:200px" id="imageToDisplay" #viewer src={{screenshot}}>
        <div style="left: 50%;">
          <ion-button color="danger" fill="outline" (click)="cancelScreenshot()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </ion-item>

  <div class="status">
    <ion-row radio-group>
      <ion-radio-group [(ngModel)]="incident.status" name="status">
        <ion-col>
            Statut
        </ion-col>
        <ion-col>
          <ion-item *ngFor="let status of statusList">
            <ion-label>{{status}}</ion-label>
            <ion-radio [value]=status></ion-radio>
          </ion-item>
        </ion-col>
      </ion-radio-group>
    </ion-row>
  </div>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea [(ngModel)]="incident.description" name="description" ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Date de remonté</ion-label>
    <ion-datetime [(ngModel)]="incident.date" displayFormat="DD MMM YYYY" name="date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Priorité</ion-label>
    <ion-select [(ngModel)]="incident.priority" name="priority">
      <ion-select-option *ngFor="let priority of priorities">{{priority}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select [(ngModel)]="incident.type" name="type">
      <ion-select-option *ngFor="let type of types">{{type}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
</form>