// .back-button{
//     padding-left: 1%;
// }
ion-toolbar {
    padding-left: 2%;
    padding-right: 2%;
    ion-icon {
        cursor: pointer;
    }
    .save-button {
        float: right;
    }
}
.toolbar-secondary{
    .toolbar-background{
    background-color: lightgrey;
    }
    // span{
    //     padding-left: 1%;
    // }
}

.status{
    padding: 3%;
    padding-left: 1.5%;
}
form{
    display: contents;
}