<header-menu></header-menu>

<ion-content [fullscreen]="true">
  <div class="container" style="float:left;">
    <a href={{lastAPKPath}}>
      <img src="../../assets/icon/harry_potter_app.png"><div></div>
      Télécharger dernière version du jeu</a>
  </div>

  <div class="container" style="float:right;">
    <a href="http://192.168.1.11:8080/APK/hp-core.apk">
      <ion-icon size="large" color="black" name="build"></ion-icon><div></div>
      Télécharger dernière version HP-Core</a>
  </div>
</ion-content>
