<header-menu></header-menu>

<ion-content [fullscreen]="true">
  <div *ngIf="hpQuizAPK" class="container" style="float:left;">
    <a  href={{hpQuizAPK.path}}>
      <img src="../../assets/icon/harry_potter_app.png"><div></div>
      Télécharger dernière version du jeu</a>
      <p>{{hpQuizAPK.buildDate}} - {{hpQuizAPK.size}}</p>
  </div>

  <div *ngIf="hpCoreAPK" class="container" style="float:right;">
      <a href={{hpCoreAPK.path}}>
      <ion-icon size="large" color="black" name="build"></ion-icon><div></div>
      Télécharger dernière version HP-Core</a>
    <p>{{hpCoreAPK.buildDate}} - {{hpCoreAPK.size}}</p>
  </div>
</ion-content>
